<p id="notice"><%= notice %></p>

<ol>
  <% @posts.each do |post| %>
  <li>
    <p><a href="<%= post.link %>"><%= post.title %></a></p>
    <div class="small"><%= link_to 'Comments', post %> | Posted by: <%= post.user.email %></div>
    <div class="small">
    <%if current_user != nil and post.user_id == current_user.id %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
    <br><br>
  </li>
  <% end %>
</ol>



